/* VARIABLES ------------------------------------------------- */

$color-primary: #27496c;

/* BASE ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
    font-family: "M PLUS 1p", sans-serif;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button:focus {
    outline: 0;
}

/* NAV ------------------------------------------------- */

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10000;
    min-height: 8vh;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    height: 10vh;
    transition: background-color 250ms ease-in;
    h2 {
        margin-left: 0.5em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    // height: 50vh;
    top: 10vh;
    background-color: #fff;
    z-index: -1;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.5s ease;
    a {
        color: $color-primary;
        text-decoration: none;
        position: inherit;
        transition: all 0.4s ease;
        &:hover {
            color: orange;
            text-decoration: underline;
        }
    }
    li {
        list-style-type: none;
        font-size: 0.9rem;
        opacity: 0;
        margin-bottom: 2.5em;
        width: 80%;
        &:first-child {
            margin-top: 1.5em;
        }
    }
}

.nav-scrolled {
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

// FOR MEDIA QUERY!
// .burger {
//     display: none;
// }

// .burger {
//     display: block;
//     cursor: pointer;
//     margin-left: auto;
//     margin-right: 1em;
//     div {
//         width: 25px;
//         height: 2px;
//         background-color: grey;
//         margin: 5px;
//         transition: all 0.3s ease;
//     }
// }

.nav-active {
    transform: translateX(0);
}

.nav-text-desktop {
    margin-left: auto;
    display: flex;
    color: $color-primary;
    font-size: 0.6rem;
    margin-right: 4em;
    svg,
    p {
        margin-right: 1em;
    }
}

.nav-contact {
    color: $color-primary;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
        color: lightblue;
    }
}

// HERO SECTION

.hero {
    background-image: linear-gradient(
            rgba(39, 73, 108, 0.5),
            rgba(39, 73, 108, 0.8)
        ),
        url("../img/lady-justice-web.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    flex-direction: column;
}

.hero-title {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    // font-size: 1.2rem;
}

/* featureInfo Section ------------------------------------------------- */

.featureInfo {
    width: 90%;
    background-color: white;
    position: absolute;
    top: 90%;
    box-shadow: 0 8px 6px -6px black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.featureInfo-card {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(15, 1fr);
    margin: 1em;
    color: $color-primary;
    svg {
        border: 3px solid #d1d1d1;
        padding: 41px 0px;
        height: 120px;
        width: 80px;
        margin-left: 2em;
    }
}

.featureInfo-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column: 3/16;
}

/* practiceArea Section ------------------------------------------------- */

.practiceAreas {
    background-color: #f3f3f3;
    overflow: hidden;
}

.container-practiceAreas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 26em;
}

.practiceAreas-card {
    margin: 1em auto;
    width: 80%;
    height: 200px;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* mission Section ------------------------------------------------- */

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: $color-primary;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

.mission-info {
    border: 5px solid steelblue;
}

.mission-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    text-align: center;
    h3 {
        font-size: 1.3rem;
    }
    a {
        text-decoration: none;
        color: $color-primary;
        margin-bottom: 1.5em;
        margin-top: 0.5em;
    }

    p {
        margin-bottom: 1em;
    }
}

.mission-info-logo img {
    width: 250px;
    margin: 1em auto;
}

/* KEYFRAMES ------------------------------------------------- */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* MEDIA QUERIES ------------------------------------------------- */

@media screen and (max-width: 768px) {
    .nav-text-desktop {
        display: none !important;
    }
}

@media (min-width: 768px) {
    nav {
        background-color: white;
        height: 12vh;
        h2 {
            font-size: 1.5rem;
        }
    }

    .nav-links {
        // position: static;
        background-color: $color-primary;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        height: 8vh;
        transform: translateX(0%);
        li {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            transition: all 0.3s ease-in;
            &:hover {
                background-color: steelblue !important;
            }
        }
        a {
            font-size: 0.7rem;
            position: absolute;
            color: white;
            &:hover {
                color: white;
            }
        }
    }

    .nav-links li:first-child {
        margin-top: 0;
    }

    .hamburger {
        display: none;
    }
    .hero {
        height: 100%;
        background-position: top;
    }

    .container-practiceAreas {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 10em;
    }

    #practiceAreas-card-1 {
        grid-column: 1/3;
        grid-row: 1;
    }
    #practiceAreas-card-2 {
        grid-column: 3/5;
        grid-row: 1;
    }
    #practiceAreas-card-3 {
        grid-column: 5/7;
        grid-row: 1;
    }
    #practiceAreas-card-4 {
        grid-column: 2/4;
        grid-row: 2;
    }
    #practiceAreas-card-5 {
        grid-column: 4/6;
        grid-row: 2;
    }

    .featureInfo {
        grid-template-columns: repeat(3, 1fr);
    }
    .featureInfo-card {
        padding: 1em;
        svg {
            margin: auto;
        }
    }

    .mission-info-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mission-info-p {
        padding: 2em;
    }
}

@media (min-width: 992px) {
    nav h2 {
        font-size: 1.8rem;
    }

    .nav-links a {
        font-size: 0.8rem;
    }
}
