/* VARIABLES ------------------------------------------------- */

$color-primary: #27496c;

/* BASE ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
    font-family: "M PLUS 1p", sans-serif;
}

h1 {
    font-size: 3.3rem;
}

p {
    font-size: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* NAV ------------------------------------------------- */

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10000;
    min-height: 8vh;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    height: 10vh;
    transition: background-color 250ms ease-in;
    p {
        margin-left: 0.5em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    // height: 50vh;
    top: 10vh;
    background-color: #fff;
    z-index: -1;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;

    a {
        color: $color-primary;
        text-decoration: none;
        position: inherit;
    }
    li {
        list-style-type: none;
        font-size: 0.9rem;
        opacity: 0;
        margin-bottom: 2.5em;
        width: 80%;
        &:first-child {
            margin-top: 1.5em;
        }
    }
}

.nav-scrolled {
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

// FOR MEDIA QUERY!
// .burger {
//     display: none;
// }

// .burger {
//     display: block;
//     cursor: pointer;
//     margin-left: auto;
//     margin-right: 1em;
//     div {
//         width: 25px;
//         height: 2px;
//         background-color: grey;
//         margin: 5px;
//         transition: all 0.3s ease;
//     }
// }

.nav-active {
    transform: translateX(0);
}

// HERO SECTION

.hero {
    background-image: linear-gradient(
            rgba(39, 73, 108, 0.5),
            rgba(39, 73, 108, 1)
        ),
        url("../img/lady-justice-2388500.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.hero-title {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    // font-size: 1.2rem;
}

/* KEYFRAMES ------------------------------------------------- */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* MEDIA QUERIES ------------------------------------------------- */

@media (min-width: 768px) {
    nav {
        background-color: transparent;
        height: 12vh;
    }

    .nav-links {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 75%;
        height: initial;
        transform: translateX(0%);
        li {
            opacity: 1;
            margin-top: 0;
            margin-bottom: 0;
        }
        a {
            font-size: 1em;
            position: absolute;
        }
    }

    .hamburger {
        display: none;
    }
}
